.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  background-color: #1b1b1b;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #383838;
}
