.eventParticipants {
  margin: 2rem;
}

@media (max-width: 600px) {
  .addParticipant {
    padding: 0.4rem 1rem !important;
    display: flex;
  }

  .addParticipant span {
    font-size: 14px;
  }
}

.participant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2b2b;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.participant button {
  background-color: #ffcc00;
  color: #2b2b2b;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.participant.confirmed {
  text-decoration: line-through;
  color: #aaa;
}

.participant.confirmed button {
  background-color: #aaa;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
