.participant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.participantName {
    flex-grow: 1;
}

.participantValue {
    margin-left: 10px;
    margin-right: 10px;
}

.participant button {
    background-color: #ffcc00;
    color: #2b2b2b;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 2px;
    min-width: 7rem;
}

@media (max-width: 600px) {
    .participant button {
        min-width: auto;
    }
}

.participant.confirmed .participantValue {
    text-decoration: line-through;
    color: #aaa;
}

.participant.confirmed button {
    background-color: #aaa;
}

.participantConfirmation {
    padding: 10px;
}