.add-event-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

.add-event-form div {
  margin: 1rem 0;
}

.add-event-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.add-event-form input,
.add-event-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.add-event-form button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .add-event-form {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .add-event-form {
    width: 50%;
  }
}
