.notification {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 5rem;
  width: auto;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5rem 10%;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.notification span {
  margin: 0;
  font-size: 1.25rem;
  color: white;
}

.notification p {
  margin-left: 1rem;
}

.pending {
  background-color: #177cbe;
}

.success {
  background-color: #10be58;
}

.error {
  background-color: #e65035;
}
